body{
    background-color: #AAD6EC;
    color: white;

}

header{
    height: 50px;
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.title{
    font: bold;
    font-size: 20px;
}
.form{
    text-align: center;
    margin: 70px 0 30px 0;
    font-size: 20px;
    border-color: #bfbfbf;
    display: inline-block;
    padding: auto;
}

.form-item, .form-body{
    border: 1px solid black;
    border-left: transparent;
    border-right: transparent;
}

.form-item{
    width: 200px;
    padding: 0 64px 0 16px;
    text-align: left;
    border-right: 1px solid black; 
}

.form-body{
    width: 400px;
    padding: 8px 0px 8px 8px;
    text-align: left;
}